{% extends 'Customer/base.html' %}
{% load static %}

{% block content %}
    <div style="width: 60%;margin: 2% 10% 2% 30%;">
    <h2 style="color: white;">Manage Address</h2><br>
    <div class="list-group">
        <a href="{% url 'customeraddress' %}"><button class="btn btn-light" style="width: 100%;padding: 2%;"><b>+&nbsp;Add New Address</b></button></a>
        <br>
        {% for i in address %}
        <div style="background-color: white;padding: 1% 5%;">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><button class="btn btn-outline-success">{{i.address_type}}</button><a href="{% url 'customeraddressupdate' i.id %}"><button class="btn btn-warning"><i class="bi bi-pencil-square"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg></button></a>&nbsp;&nbsp;<a href="{% url 'customeraddressdelete' i.id %}"><button class="btn btn-danger"><i class="bi bi-trash"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg></button></a></h5>
          </div>&nbsp;
          <p class="mb-1"><b>{{i.fname}}&nbsp;{{i.lname}}&nbsp;&nbsp;&nbsp;&nbsp;{{i.mobile}}</b></p>
          <p class="mb-1">{{i.address}}&nbsp;,{{i.city}}&nbsp;,{{i.state}}&nbsp;,{{i.country}}</p>
          <!-- <p class="mb-1"><a><button class="btn btn-warning">Edit</button></a>&nbsp;&nbsp;<a><button class="btn btn-danger">Remove</button></a></p> -->
        <hr>
        </div>
        {% endfor %}
      </div>
      </div>
{% endblock %}